@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    border: 1px solid black !important;
    font-family: 'Cinzel' ,sans-serif;

}

body{
    /* max-width: 1200px; */
    margin:0;
    background-color:#e5e5e5;
    
}


.nav-sect-container{
    display: flex;
    margin-left: 13.7rem;
    flex-direction: column;
    
}

.sections {
    height:100vh;
   
}


.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    /* padding: 1rem; */
    height: 100vh;
    background-color:#14213d;
    
    
}
.name {
    display: block;
    padding: 1rem 1rem 0.3rem 1rem;
    color: white;
    
}
.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    flex-grow: 6;
    /* margin-top:  */
    color: white;
}
h3 {
    font-size: 3rem;
}
.FS-sub-heading{
    margin-top: 1rem;
    font-size: 1rem;
}

li {
    margin: 1rem 0;
    font-size: 1.2rem;
}

/* Formatting each section */
.img1-container {
    height: 25rem;
    width: 25rem;
}

.profile-pic{
    width:100% ;
    border-radius: 50%;
    /* margin: 4rem; */
    
}
.Home {
    text-align: center;
    background-image: url('/assets/home-background.png');
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.home-text {
    /* margin: 4rem 10rem; */
    font-size: 2rem ;
    line-height: 2.3rem;

}

h1 {
    padding: 0 0.3rem 0.3rem 0.3rem;
    font-size:xxx-large;
    background-color: #fca311;
    color: white
}

.aboutme-text,.skills-container,
.experience-container{
    height: 94.2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.aboutme-p {
    text-indent: 5%;
    font-size: 1.3rem;
    line-height: 1.5rem;
    width: 100vh;
    /* margin: 1rem 10rem 1rem 10rem; */
}



.row{
    padding:5rem 5rem 2rem 5rem;
    width: 80%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 20px solid rgba(211, 211, 211, 0.549);
    align-items:center;
    /* margin-top: 3rem; */
    /* filter: drop-shadow(30px 10px 20px #4444dd); */

}
.img-container{
    height: 100%;
    margin-bottom: 8rem;
}


.img-skill{
    height: 6rem;
    width: 6rem;
}

.skill-p{
    text-align: center;
    padding: 0.2rem
}




.experience{
    background-color: white;
    height: 15rem;
    width: 80%;
   
   
}